body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #000; /* 검은색 배경으로 변경 */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo a{
    font-family: 'Dongle', sans-serif;
    font-family: 'Grandiflora One', cursive;
    font-family: 'Vina Sans', sans-serif;
    font-size: 3em;
    text-decoration: none; /* 로고의 밑줄 효과 제거 */
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

nav a.active {
    color: #ffdd00; /* 활성화된 메뉴의 색상 변경 */
}

.page {
    height: calc(100vh - 70px); /* 상단 메뉴 바의 높이를 고려하여 조정 */
    width: 100%;
    display: flex;
    flex-direction: column; /* h1 요소를 페이지 상단에 위치시키기 위해 추가 */
    justify-content: flex-start; /* h1 요소를 페이지 상단에 위치시키기 위해 추가 */
    align-items: center;
    font-size: 2em;
    color: white; 
    background-color: #000; 
    padding-top: 70px; /* 메뉴 바의 높이만큼 페이지 내용을 아래로 내림 */
    transition: background-color 0.3s; /* 배경색 변화에 부드러운 효과 적용 */
    position: relative; /* 상대적인 위치 설정 */
}

.page h1 {
    margin-top: 20px;
    text-align: left;
    align-self: flex-start; /* 강제적으로 좌측 상단에 위치하도록 설정 */
    position: absolute;
    top: 70px; /* 상단 메뉴 바의 높이만큼 띄우기 */
    left: 10px; /* 좌측으로 10px 여백 */
}

.page:hover {
    cursor: zoom-in; /* 호버 시 돋보기 모양의 커서 적용 */
    box-shadow: 0 0 20px 100px rgba(255, 255, 255, 0.8); /* 하얀색 그림자 적용 */
}

.scroll-indicator {
    width: 0; /* 초기에는 보이지 않도록 설정 */
    height: 5px; /* 스크롤 인디케이터의 높이 */
    background-color: #fff; /* 스크롤 인디케이터의 색상 */
    position: fixed;
    top: 70px; /* 상단 메뉴 바의 높이만큼 띄우기 */
    left: 0;
    z-index: 999; /* 다른 요소 위에 위치하도록 설정 */
    display: block;
    opacity: 0; /* 초기에는 투명하게 설정 */
    transition: width 0.3s, opacity 0.3s; /* 너비 및 투명도에 부드러운 효과 적용 */
}

body.scroll-indicator-visible .scroll-indicator {
    width: 100%; /* 스크롤 인디케이터가 필요한 경우 전체 너비로 표시 */
    opacity: 1; /* 투명도를 1로 설정하여 보이게 함 */
}


/* slider */
.sliderWrap {
    display: flex;
}

.slider {
    flex: 0 0 100vw;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지의 가로세로 비율을 유지하면서 전체가 나타나도록 조절 */
}

.slider span {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
